<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <header>
                <h1>Ninja Blog System</h1>
            </header>
            </div>
        <div class="panel-body">
            <section>
                <article>
                    <img src="assets/imgs/ninjalogo.png" alt="" class="pull-right" width="200px"/>
                    <p>Ninja Blog System gives users the opportunity to create their own blog.</p>

                    <p>In the blog users can post their opinion on a particular subject, use it as a personal online
                        diary or for advertisement.</p>
                </article>
                <article>
                    <p>Ninja Blog System allows users to:</p>
                    <ul>
                        <li>Post text and images</li>
                        <li>Present links to other blogs and web pages</li>
                        <li>See all the registered users in the Ninja Blog System</li>
                        <li>See the newest post and etc.</li>
                    </ul>
                </article>
            </section>
        </div>
    </div>
    <section class="list-group">
        <div class="list-group-item">
            <h3 class="panel-title">Created by <a href="https://github.com/RustyNailTA">Rusty Nail Team</a>:</h3>
        </div>
        <div class="list-group-item">
            <ul>
                <li>Ivaylo Arnaudov -
                    <a target="_blank" href="https://telerikacademy.com/Users/ivaylo.arnaudov">ivaylo.arnaudov</a>,
                    GitHub:
                    <a target="_blank" href="https://github.com/arnaudoff">arnaudoff</a>
                </li>
                <li>Ivo Paounov -
                    <a target="_blank" href="https://telerikacademy.com/Users/ivo.paunov">ivo.paunov</a>, GitHub:
                    <a target="_blank" href="https://github.com/IvoPaunov">IvoPaunov</a>
                </li>
                <li>Kiril Borisov -
                    <a target="_blank" href="https://telerikacademy.com/Users/borisov.kiril760">borisov.kiril760</a>,
                    GitHub:
                    <a target="_blank" href="https://github.com/kborisov760">kborisov760</a>
                </li>
                <li>Kristina Yoveva -
                    <a target="_blank" href="https://telerikacademy.com/Users/KYoveva">KYoveva</a>, GitHub:
                    <a target="_blank" href="https://github.com/KYoveva">KYoveva</a>
                </li>
                <li>Marto Veshev -
                    <a target="_blank" href="https://telerikacademy.com/Users/vesheff">vesheff</a>, GitHub:
                    <a target="_blank" href="https://github.com/vesheff">vesheff</a>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <strong>powered by: &nbsp;</strong>
        <a href="https://jquery.com/" target="_blank"> jQuery </a>
        <a href="https://nodejs.org/" target="_blank"> Node.js </a>
        <a href="http://mochajs.org/" target="_blank"> Mocha </a>
        <a href="http://chaijs.com/" target="_blank"> Chai </a>
        <a href="https://www.parse.com/" target="_blank"> Parse </a>
        <a href="http://getbootstrap.com/" target="_blank"> Twitter Bootstrap </a>
    </section>
    <br/>
    <section>
        <a href="#/register" target="_self">Register now</a>
    </section>
</div>