<div>
	<header>
		<h1>Ninja Blog System</h1>
	</header>
	<section>
		<article>
			<p>Ninja Blog System gives users the opportunity to create their own blog.</p>
			<p>In the blog users can post their opinion on a particular subject, use it as a personal online diary or for advertisement.</p>
		</article>
		<article>
			<p>Ninja Blog System allows users to:</p>
			<ul>
				<li>Post text and images</li>
				<li>Present links to other blogs and web pages</li>
				<li>Leave comments on their or other users' posts</li>
				<li>See all the registered users in the Ninja Blog System</li>
				<li>See the newest post and etc.</li>
			</ul>
		</article>
	</section>
	<section>
		 <h3>Created by Rusty Nail Team:</h3>
            <ul>
                <li>Ivo Punov - ivo.paunov</li>
                <li>Ivaylo Arnaudov - ivaylo.arnaudov</li>
                <li>Kiril Borisov - borisov.kiril76</li>
                <li>Marto Veshev - vesheff</li>
                <li>Kristina Yoveva - KYoveva</li>
            </ul>
	</section>
</div>