<div class="container-fluid">
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {{#posts}}
            <li data-target="#carousel-generic" data-slide-to="{{@index}}" class="{{#if active}}active{{/if}}"></li>
            {{/posts}}

        </ol>
        <!--<h1>TEST DEIBA</h1>-->
        <div class="carousel-inner" role="listbox">
            <img style="position: absolute; width: 100%; height: 100%" alt="First slide [1140x500]"
                 src="assets/imgs/carousel-background-clear.png">

            {{#posts}}
            <div class="item {{#if active}}active{{/if}}">
                <img src="assets/imgs/carousel-background-transparent.png" data-holder-rendered="true">

                <div class="container" style="height: 100%">
                    <div class="carousel-caption">

                            <h2>{{title}}</h2>
                        <p class="blog-post-meta">by: <a href="#/{{authorName}}/about">{{author}}</a></p>
                        <div style="max-height: 70px; text-overflow: ellipsis; overflow:hidden; white-space: nowrap">
                            {{{this.content}}}
                        </div>
                        <div>
                            <a href="#/{{authorName}}/{{id}}" class="btn btn-link">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/posts}}
        </div>
        <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>