<ul class="nav navbar-nav">
    <li>
        <a href="#/home"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li>
        <a href="#/top">TOP</a>
    </li>
    <li class="dropdown navbar-not-auto-collapse">
        <a class="dropdown-toggle navbar-not-auto-collapse" data-toggle="dropdown" href="#" id="user">ALL <span
                class="caret navbar-not-auto-collapse"></span></a>
        <ul class="dropdown-menu navbar-not-auto-collapse">
            <li>
                <a href="#/all-users"><span> USERS</span></a>
            </li>
            <li>
                <a href="#/all-posts"></span><span> POSTS</span></a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#/about">ABOUT</a>
    </li>
</ul>

