<div class="container-fluid pull-">
    <h3>Oooops, it looks like you want to asses content that requires to be logged in! </h3>
    <br/>
    <br/>

    <blockquote class="pull-left">
        <p><a href="#/login">Log in...</a></p>

        <p></p><a href="#/register">Register...</a></p>
    </blockquote>

    <img src="assets/imgs/ninjalogo.png" alt="ninja logo" width="200px" class="pull-right"/>
    <blockquote class="pull-right">
        <a href="#/home">Go to home page...</a>
    </blockquote>

</div>
