<article class="blog-post container-fluid">
    <h2 class="blog-post-title">{{this.title}}</h2>

    <p class="blog-post-meta">
        <date>{{this.createdAt}}</date> by: <a href="#/{{authorName}}/about">{{author}}</a>
        <span class="pull-right label label-success">views: {{views}}</span>
    </p>

    <div class="container-fluid post-content">
        {{{this.content}}}
    </div>
    <!--<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>-->

    <div class="col-xs-4 col-lg-2 col-md-3 col-sm-3 btn-holder pull-right">
        <button class="btn btn-block btn-social btn-facebook btn-xs" id="btn-fb-share-{{@index}}">
            <i class="fa fa-facebook"></i>Share
        </button>
    </div>
</article>
<br/>
<div class="panel panel-default">
    <div class="panel-body">
        <span>Tags:&nbsp;&nbsp;</span>
        {{#tags}}
        <small>
            <strong>
                <a href="#/search-results?request={{this}}">
                    {{this}}
                </a>
                <span>&nbsp;</span>
            </strong>
        </small>
        {{/tags}}
    </div>
</div>
<hr/>
<br/>
