<article class="blog-post">
    <h2 class="blog-post-title">{{this.title}}</h2>

    <p class="blog-post-meta">{{this.createdAt}} by: <a href="#/{{author}}/about">{{this.author}}</a></p>

    <div>
        {{{this.content}}}
    </div>
</article>
<br/>
<div class="panel panel-default">
    <div class="panel-body">
        <span>Tags:&nbsp;&nbsp;</span>
        {{#tags}}
        <small>
            <strong>
                <a target="_blank" href="https://www.google.bg/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#safe=off&q={{this}}">
                    {{this}}
                </a>
                <span>&nbsp;</span>
            </strong>
        </small>
        {{/tags}}
    </div>
</div>
<hr/>
<br/>