<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kendo UI Snippet</title>

    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.common.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.bootstrap.min.css">

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2015.2.805/js/kendo.all.min.js"></script>
</head>
<body>
<div id="example" style="width:100%">
    <div class="demo-section k-header">
        <ul class="fieldlist">
            <li>
                <label for="simple-input">Title</label>
                <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" />
            </li>
            <li>
                <label for="editor">Content</label>
                <div id="example">
                    <textarea id="editor" rows="10" cols="30" style="height:440px"></textarea>
                    <script src='kendo-test.js'></script>
                </div>
            </li>
            <li>
            <li>
                <button class="k-button">Submit</button>&nbsp;
                <button class="k-button k-primary">Cancel</button>
            </li>
        </ul>
        <style>
            .fieldlist {
                margin: 0 0 -2em;
                padding: 0;
            }

            .fieldlist li {
                list-style: none;
                padding-bottom: 2em;
            }

            .fieldlist label {
                display: block;
                padding-bottom: 1em;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                color: #444;
            }

        </style>
    </div>
</div>
</body>
</html>