<div class="container-fluid">
    <h2>Here you can change the look of you blog absolutely free</h2>
    <h5>... free means not easy ...</h5>

    <p>... but ...  All you have to do is follow to <a href="http://telerikacademy.com/" target="_blank">this link</a>  and you'll be
        able to do it all alone </p>

    <p>
        <small>/after a year, maybe later .../</small>
    </p>
    <div>
        <p>
            <span>Or just keep this current look and </span><a href="#/{{username}}/settings">go back...</a>
        </p>
    </div>
</div>