<div class="container-fluid">
    <div class="list-group">
        <a href="#/{{username}}/settings-personal" class="list-group-item">
            <h4 class="list-group-item-heading">Personal settings</h4>
            <p class="list-group-item-text">Change your personal settings</p>
        </a>
        <a href="#/{{username}}/settings-blog" class="list-group-item">
            <h4 class="list-group-item-heading">Blog settings</h4>
            <p class="list-group-item-text">Change your blog look</p>
        </a>
    </div>
</div>