<div class="container-fluid">
    <div>
        <h1>Success!!</h1>
        <p>There is new data about you!</p>
    </div>
    <div class="pull-left">

        <br/>
        <h2>{{this.name}}</h2>
        <h4>a.k.a. : {{this.username}}</h4>
        <br/>
        {{#if about}}
        <div>
            <p>Something about me::</p>
            <p>{{about}}</p>
            <br/>
        </div>
        {{/if}}
        <div>
            <p>contact info:</p>

            {{#if email}}
            <a target="_blank" href="mailto{{email}}"><i class="glyphicon glyphicon-envelope"></i></a>
            {{/if}}
            {{#if links.gitHub}}
            <a target="_blank" href="{{links.gitHub}}"><i class="fa fa-github info-link"></i></a>
            {{/if}}

            {{#if links.telerikAcademy}}
            <a target="_blank" href="{{links.telerikAcademy}}"><i class="fa fa-space-shuttle info-link"></i></a>
            {{/if}}

            {{#if links.googlePlus}}
            <a target="_blank" href="{{links.googlePlus}}"><i class="fa fa-google-plus info-link"></i></a>
            {{/if}}

            {{#if links.linkedIn}}
            <a target="_blank" href="{{links.linkedIn}}"><i class="fa fa-linkedin info-link"></i></a>
            {{/if}}

            {{#if links.faceBook}}
            <a target="_blank" href="{{links.faceBook}}"><i class="fa fa-facebook info-link"></i></a>
            {{/if}}

            {{#if links.flickr}}
            <a target="_blank" href="{{links.flickr}}"><i class="fa fa-flickr info-link"></i></a>
            {{/if}}

            {{#if links.twitter}}
            <a target="_blank" href="{{links.twitter}}"><i class="fa fa-twitter info-link"></i></a>
            {{/if}}

            {{#if links.skype}}
            <a target="_blank" href="skype:{{links.skype}}?add"><i class="fa fa-skype info-link"></i></a>
            {{/if}}
        </div>
    </div>
    <div class="pull-right user-about-avatar">
        <img src="{{#if avatar}}{{avatar}}{{else}}assets/imgs/avatar-default.png{{/if}}" alt="user avatar picture" class="user-about-avatar"/>
    </div>
    <div>
        <p>
            <a href="#/{{username}}/logout" class="btn btn-link">Log out</a>
            <a href="#/{{username}}/settings" class="btn btn-link">Go to your settings</a>
        </p>
    </div>
</div>