<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user"><span class="glyphicon glyphicon-user"></span></a>
<ul class="dropdown-menu">
    <li>
        <a href="#/{{username}}/new-post"><span class="glyphicon glyphicon-plus"></span><span> &nbsp;New post</span></a>
    </li>
    <li>
        <a href="#/{{username}}/settings"><span class="glyphicon glyphicon-cog"></span><span> &nbsp;Settings</span></a>
    </li>
    <li>
        <a href="#/{{username}}/home"><span class="glyphicon glyphicon-home"></span><span> &nbsp;Go to your page</span></a>
    </li>
    <li>
        <a href="#/{{username}}/logout"><span class="glyphicon glyphicon-off"></span><span> &nbsp;Log out</span></a>
    </li>

</ul>