<div class="container">

    <h2>Oooops, something get wrong!</h2>

    <h3>{{message}}</h3>
    <p>
    <p> <a href="#/{{username}}/settings-personal" class="btn btn-link">Try again</a></p>
    <p> <a href="#/{{username}}/logout" class="btn btn-link">Log out</a></p>
    <p> <a href="#/{{username}}/settings" class="btn btn-link">Go to your settings</p>
    <p><a href="#/{{username}}home" class="btn btn-link">Go to your home page</a></p>
    </p>


    <div class="text-center">
        <img src="assets/imgs/ninjalogo.png" alt="Not found url 404 error" style=" width: 30%"/>
    </div>
</div>