.navbar-default, .nav .navbar-nav, .panel-footer{
    background-color: rgba(70, 69, 69, 0.9); /* semi transparent for testing purposes*/
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-cleaner{
    content: " rrrrrrrrr"; /* Older browser do not support empty content */
    visibility: visible;
    display: block;
    height: 82px;
}

.breadcrumb{
    opacity: 0.8;
}

.blog-post img, .carousel-caption img{
    max-width: 50%;
    margin: 20px 0;
}

.blog-post{
    margin: 0px 0px 40px 0px;
}

.blog-post .btn-facebook{
    margin: 20px 0px 0px 0px;
}

.blog-post .btn-holder{
    padding: 0px;
}

.blog-main .tags{
    display: block;
}


.input-incorrect{
    background-color: rgba(255, 192, 192, 1);
}

.input-correct{
    background-color: rgba(180, 255, 214, 1);
}

.login-form{
    display: none;
    margin-top: 2%;
}